*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus{
	outline: none;
}
body{
  background: #f7f7f7;
  color: #777;
  font-family: 'Roboto', sans-serif;
  font-size: .875em;
  overflow-x: hidden;
  margin: 0px;
}

/*NAV*/
.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(243, 243, 243, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(55vh - 50px);
    overflow-y: auto;
  }
}
/*NAV end*/

/*HERO*/
/* #home {
	background: url('./assets/images/deadlift.jpg') no-repeat center top fixed;
	background-size: cover;
	min-height: 100vh;
	position: relative;

  }
  
  .text-vcenter {
   margin: 35vh 0 0 0;
  }
  
  .text-vcenter h1 {
	font-weight: 100;
	font-size: 6em;
	color: #fff;
	font-family: 'Permanent Marker', cursive;
	padding-bottom: 20px;
  }

  .text-vcenter h3{	  
	color: #fff;
  }

  .text-vcenter h4{	  
	color: #fff;
	padding-bottom: 5px;
  }
  
  .top-icon {
   color: white;
	padding: 10px 2px;
	opacity: .7;
  }
  
  #contact {
	min-height: 50vh;
  }

  .top-icon:hover {
	opacity: 1;
  }

.padding{
	padding: 4%;
}


.about-buttons{
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	margin: 0 auto;
}
	.about-buttons div{
		width: 100%;
	}

.about-button{
	min-width: 70%;
	height: 100%;
	padding: 20px;
	font-family: "poppins-bold", sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .3rem;
	cursor: pointer;
	font-size: 14px;
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
}
	.hire-me > .about-button{
		margin-right: 25px;
		float: right;
		color: #252439;
    	background-color: transparent;
		border: 3px solid #252439;
	}
		.hire-me > .about-button:hover{
			color: tomato;
			border-color: tomato;
		}
	.download-cv > .about-button{
		margin-left: 25px;
		color: #fff;
    	background-color: #252439;
		border: none;
		float: left;
	}
		.download-cv > .about-button:hover{
			background-color: #000;
		}


@media all and (max-width : 800px) {
	.about-buttons{
		flex-direction: column;
	}
	.about-button{
		width: 100%;
	}
		.hire-me > .about-button{
			float: none;
			margin-right: 0px;
			margin-bottom: 15px;
		}
		.download-cv > .about-button{
			margin-left: 0px;	
			float: none;
		}
    #home{
      background: url('./assets/images/deadlift.jpg') no-repeat center top fixed;
	    background-size: cover;
	    min-height: 50vh;
	    position: relative;
    }
} */

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

.container {
background-image: url(./assets/images/deadlift.jpg);
	font-family: "Roboto", sans-serif;
	color: white;
  background-size: cover;
	min-height: 100vh;
	position: relative;
  min-width: 100vw;
}

.layout {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.hero {
	width: 50%;
	padding: 10vh 0;
}

h1 {
	font-family: "Roboto", sans-serif;
	font-weight: black;
	font-size: 48px;
	margin: 0;
}

p {
	font-weight: regular;
	line-height: 1.5rem;
	margin-bottom: 2rem;
}

button {
	color: #23424a;
	font-weight: bold;
	font-size: 21px;
	text-transform: uppercase;
	background-color: #38cfd9;
	border: none;
	cursor: pointer;
	padding: 0.8em 1.4em;
	border-radius: 100px;
	transition: background-color 0.6s ease-in-out, transform 0.6s ease-in-out;
}

button:hover {
	background-color: #2eabb3;
	transform: scale(1.04);
}


/*ABOUT*/
/* 
body {
    font-family: 'Roboto';font-size: 16px;
} */

.aboutus-section {
    padding: 90px 0;
}
.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}
.aboutus-title::after {
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.aboutus-text {
    color: #000;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 35px;
} 
/*ABOUT END*/


/* PROJECT */

#ProjectCard {
	background: url('./assets/images/deadlift.jpg') no-repeat center bottom fixed;
	background-size: cover;
	min-height: 100vh;
	position: relative;
	margin-top: 20px;
  }

.projectP{
	color: #fff;
	font-size: 6rem;
	font-family: 'Permanent Marker', cursive;
	text-transform: uppercase;
	font-weight: 100;
	text-align: center;
}

main{
  margin: auto;
  max-width: 380px;
}
section{
  background: #f5f5f5;
  border-radius: .25em;
  box-shadow: 0 .15em .175em hsla(0,0%,0%,.1);
  margin: 1.5em;
  overflow: hidden;
}
figure{
  height: 12.5em;
}
article{
  padding: 2em;
}

img{
  height: 100%;
  object-fit: cover;
  width: 100%;
}

h1{
  font-size: 2em;
  letter-spacing: -.05em;
  line-height: 1;
  margin: .25em 0;
}
p{
  margin-top: 10px;
  line-height: 1.4;
  font-size: 18px;
}

.description{
  color: #285AEB;
}


@supports (display: grid){
  @media only screen and (min-width: 768px){
    main{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      grid-gap: 1.5em;
      max-width: 1140px;
      padding: 1.5em;
    }

    section{
      margin: 0;
    }
  }
}


/***FOOTER****/

body,h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,p,a {
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.footer-col a {
  color: rgba(0,0,0,0.75);
}

/* .content {
  height:10vh;
  background: #ccc;
} */

.footer-content-wrapper {
  width: 80%;
  margin: 1em auto;  
}

.footer-col {
  display: inline-block;
  padding: 0.5em 0.1em 0.5em 1em;
  box-sizing: border-box;
  border-right: solid 1px #bbb;
}
.footer-col:nth-child(4) {
  border: none;
}

.footerLink{
  font-size: 13px;

}

.logo{
  height: 85px;
  width: 120px;
  text-align: center;
}

.ta-l {
  text-align: left;
}
.flt {
  float: left;
}

.flt:nth-child(4):after {
   content: " "; 
   visibility: hidden; 
   display: block; 
   height: 1em; 
   clear: both;
}

.large-25 {
  width: 25%;
}

.footer-col a {
  display: block;
  margin: 0.3em 0;
}

@media (max-width: 550px) {
  .small-50 {
    width: 50%;  
  }
  .footer-col:nth-child(2) {
    border: none;
  }
}

@media (max-width: 300px) {
  .tiny-100 {
    width: 100%;
  }
  .footer-col { 
    border: none;
  }
}
/* .bio{
  text-decoration: underline;
  margin-bottom: 20px;
  font-size: 30px;
}

.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;

          background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-size: 30px; 
}

.container {
margin-top: 150px;
display: flex;
justify-content: center;
align-items: center;
padding: 30px;
}

.card {
background-color: #fff;
max-width: 1000px;
box-shadow:0px 25px 50px rgba(0,0,0,.5);
border-radius: 3px;
display: grid;
}
.card .img-container {
width: 300px;
height: 100%;
grid-column: 2;
background-color: #c1b7b4;
background-image: url('assets/images/profile2.jpg');
background-size: cover;
background-position: center center;
}
.card-content {
grid-column: 3 / 5;
padding: 10px 30px;
border-left: 1px solid #ccc;
}

.description p{
  color: black;
  text-align: left;
  font-size: 20px;
  margin-bottom: 20px;
}

.name .author{
  color: white;
  margin-top: 10px;
}

h2 {
  margin-top: 10px;
text-transform: uppercase;
color: #fff;
}

h1 {
margin-bottom: 0;
}

.social span a{
  font-size: 30px;
  margin: 0 20px;
  display: inline-block;
  display: -moz-inline-box;
  justify-content: space-evenly;
  width: 10%;
  text-align: center;
  margin-bottom: 20px;
}


.card-content .author p{
border-top: 1px solid #cdcdcd;
font-weight: 700;
margin-top: 25px;
padding: 25px 0 10px 0;

}

.name{
   font-size: 20px;
}

@media only screen and (max-width:600px) {
.card {
    display: block;
}
.card .img-container {
    height: 250px;
    width: 100%;
}
.card-content {
    border: 0;
    border-top: 1px solid #ccc;
}
} */
/****FOOTER end****/