*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus{
	outline: none;
}
body{
  background: #f7f7f7;
  color: #777;
  font-family: 'Roboto', sans-serif;
  font-size: .875em;
  overflow-x: hidden;
}

/*NAV*/

.navbar-custom {
    /* background:transparent; */
    background-color:rgb(28, 68, 104);
    font-family: 'Roboto', sans-serif;
    color: white;
    /* opacity: .4;  */
    border: 0 !important;
}

.nav li a{
  color: white;
}

.nav.navbar-nav.navbar-right li a:hover {
  background-color: #111;
  /* opacity: 0.5; */
  color: white;

  font-family: 'Roboto', sans-serif;
}

.nav.navbar-nav.navbar-right li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    padding-right: 25px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.8em;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.navbar-default .navbar-brand {
    color: black;
    font-size: 1.5em;
}

.nav.navbar-brand li{
  color: black;
}

.navbar-collapse{
border-top:0px !important;
 box-shadow:none;
}

/*HERO*/
#home {
	background: url('./assets/images/deadlift.jpg') no-repeat center top fixed;
	background-size: cover;
	min-height: 100vh;
	position: relative;
  margin-top: -20px;
  }
  
  .text-vcenter {
   margin: 35vh 0 0 0;
  }
  
  .text-vcenter h1 {
	font-weight: 100;
	font-size: 6em;
  color: 	#fff;
	font-family: 'Permanent Marker', cursive;
	padding-bottom: 20px;
  }

  .text-vcenter h3{	  
	color: #fff;
  }

  .text-vcenter h4{	  
	color: #fff;
	padding-bottom: 5px;
  }
  
  .top-icon {
   color: white;
	padding: 10px 2px;
	opacity: .7;
  }
  
  #contact {
	min-height: 50vh;
  }

  .top-icon:hover {
	opacity: 1;
  }

.padding{
	padding: 4%;
}

/*ABOUT*/

.about-buttons{
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	margin: 0 auto;
}
	.about-buttons div{
		width: 100%;
	}

.about-button{
	min-width: 70%;
	height: 100%;
	padding: 20px;
	font-family: "poppins-bold", sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .3rem;
	cursor: pointer;
	font-size: 14px;
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
}
	.hire-me > .about-button{
		margin-right: 25px;
		float: right;
		color: #252439;
    	background-color: transparent;
		border: 3px solid #252439;
	}
		.hire-me > .about-button:hover{
			color: rgb(28, 185, 41);
			border-color:  rgb(28, 185, 41);
		}
	.download-cv > .about-button{
		margin-left: 25px;
		color: #fff;
    	background-color: #252439;
		border: none;
		float: left;
	}
		.download-cv > .about-button:hover{
			background-color: rgb(28, 185, 41);
		}


@media all and (max-width : 800px) {
	.about-buttons{
		flex-direction: column;
	}
	.about-button{
		width: 100%;
	}
		.hire-me > .about-button{
			float: none;
			margin-right: 0px;
			margin-bottom: 15px;
		}
		.download-cv > .about-button{
			margin-left: 0px;	
			float: none;
		}
}


body {
  font-family: 'Roboto', sans-serif;
  /* font-size: 16px; */
}

.aboutus-section {
    padding: 90px 0;
}
.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}
.aboutus-title::after {
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.aboutus-text {
    color: #000;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 35px;
}


/* PROJECT */

#ProjectCard {
	background: url('./assets/images/deadlift.jpg') no-repeat center bottom fixed;
	background-size: cover;
	min-height: 100vh;
	position: relative;
	margin-top: 20px;
  }

.projectP{
	color: #fff;
	font-size: 6rem;
	font-family: 'Permanent Marker', cursive;
	text-transform: uppercase;
	font-weight: 100;
	text-align: center;
}

main{
  margin: auto;
  max-width: 380px;
}
section{
  background: #f5f5f5;
  border-radius: .25em;
  box-shadow: 0 .15em .175em hsla(0,0%,0%,.1);
  margin: 1.5em;
  overflow: hidden;
}
figure{
  height: 12.5em;
}
article{
  padding: 2em;
}

img{
  height: 100%;
  object-fit: cover;
  width: 100%;
}

h1{
  font-size: 3em;
  letter-spacing: -.05em;
  line-height: 1;
  margin: .25em 0;
  text-align: center;
}
p{
  margin-top: 10px;
  line-height: 1.4;
  font-size: 13px;
}

/* 
.description{
  color: #285AEB;
} */


@supports (display: grid){
  @media only screen and (min-width: 768px){
    main{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      grid-gap: 1.5em;
      max-width: 1140px;
      padding: 1.5em;
    }

    section{
      margin: 0;
    }
  }
}


/***FOOTER****/

body,h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,p,a {
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.footer-col a {
  color: rgba(0,0,0,0.75);
}

.footer-content-wrapper {
  width: 80%;
  margin: 1em auto;  
}

.footer-col {
  display: inline-block;
  padding: 0.5em 0.1em 0.5em 1em;
  box-sizing: border-box;
  border-right: solid 1px #bbb;
}
.footer-col:nth-child(4) {
  border: none;
}

.footerLink{
  color: black;
  text-decoration: none;
  /* display:block; */
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  padding:0 6px;
  text-transform: uppercase;
  transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
  
  font-size: 0.875rem;
  letter-spacing: .15rem;
  line-height: 1.8;
}

html {
  font-size: 16px;
}


a{
  color: #6E5C34;
  text-decoration: none;
  /* display:block; */
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  padding:0 6px;
  text-transform: uppercase;
  transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
  
  font-size: 0.875rem;
  letter-spacing: .15rem;
  line-height: 1.8;
}

a:hover{
  color:rgb(97,176,244);
}

.link{
  position: relative;
  z-index:1;
  padding:2px 6px;
}

.link:after {
  position: absolute;
  top:0; bottom: 0;
  right: 0;left: 0;
  display: block;
  background-color: rgb(97,176,244);
  content: "";
  transform: translate3d(-101%,0,0);
  z-index:-1;
  transition: transform .3s cubic-bezier(0.11, 0.7, 0, 1);
}

.link:hover {
  color: #fff;
}

.link:hover:after {
  transform: translate3d(0,0,0);
}



.logo{
  height: 85px;
  width: 120px;
  text-align: center;
}

.ta-l {
  text-align: left;
}
.flt {
  float: left;
}

.flt:nth-child(4):after {
   content: " "; 
   visibility: hidden; 
   display: block; 
   height: 1em; 
   clear: both;
}

.large-25 {
  width: 25%;
}

.footer-col a {
  display: block;
  margin: 0.3em 0;
}

@media (max-width: 550px) {
  .small-50 {
    width: 50%;  
  }
  .footer-col:nth-child(2) {
    border: none;
  }
}

@media (max-width: 300px) {
  .tiny-100 {
    width: 100%;
  }
  .footer-col { 
    border: none;
  }
}
